{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}



{% for job in jobs %}

    
    <div class="card">
        <a href="{{ path('job') }}?id={{job.id}}">
            <img src="{{job.logo}}" alt="">
        </a>
        <div class="card-text-content">
            <p>{{job.entreprise}}</p>
            <p>{{job.contrat}}</p>
            
            <div class="card-text-content-2">
                <p>{{job.lieu}}</p>
                <p>{{job.pays}}</p>
            </div>
        </div>
        
    </div>

{% endfor %}

{% endblock %}
