{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


    {% for categ in categories %}
        <div class="href-categ">
            <a href="{{path('categories')}}">{{categ}}</a>
        </div>
        

        {% for job in jobs %}

            {% if categ==job.categorie %}

                <div class="card">
                        <img src="{{job.logo}}" alt="">
                    <div class="card-text-content">
                        <p>{{job.entreprise}}</p>
                        <p>{{job.contrat}}</p>
                        <div class="card-text-content-2">
                            <p>{{job.lieu}}</p>
                            <p>{{job.pays}}</p>
                            <a href="{{ path('job') }}?id={{job.id}}" class="btn">En savoir plus ?</a>
                        </div>
                    </div>
                </div>

            {% endif %}

        {% endfor %}
        
    {% endfor %}

{% endblock %}
